html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: #fff3e2;
}

h1 h2 h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff3e2;
}

/* Containers */
.content-section {
  padding: 7% 15%;
}

.container {
  max-width: 1280px;
  padding: 40px 10%;
}

/* Sections */
.title-section {
  background-color: #706897;
  color: white;
  height: 50%;
}

.title-page {
  padding: 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.light-section {
  background-color: #fff3e2;
  color: #474747;
}

/* Color Pallette : https://colorhunt.co/palette/220205 */
.colored-section {
  background-color: #706897;
  color: #fff3e2;
}

/* Headings */
/* Navigation */
.navbar-custom {
  background-color: #706897;
  padding: 1% 5%;
}

.navbar-brand {
  font-family: Ubuntu;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Title */
/* Special Title */
.cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
  margin: auto;
}

.cd-headline.rotate-1 .cd-words-wrapper {
  display: inline-block;
  perspective: 300px;
  text-align: left;
}

.cd-headline.rotate-1 b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.cd-headline.rotate-1 b.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
}

.cd-headline.rotate-1 b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.cd-headline.rotate-1 b.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
  animation: cd-rotate-1-in 1.2s;
}

.cd-headline.rotate-1 b.is-hidden {
  transform: rotateX(180deg);
  animation: cd-rotate-1-out 1.2s;
}

@keyframes cd-rotate-1-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }

  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes cd-rotate-1-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }

  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }

  65% {
    opacity: 0;
  }

  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}

/* End */
.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  transition: background .3s ease-in-out;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: #fff;
  outline: none;
}

/* About */
.me {
  right: -10%;
  border-radius: 100%;
  width: 90%;
}

.about {
  margin: auto;
}

/* Abilities */
#abilities {
  background-color: #9088d4;
}

.abilities {
  color: #fff3e2;
  display: block;
}

.abilities .col-md-6{
  margin-bottom: 10px;
}

li {
  margin: 0 0 3px 0;
}

.no-bullets {
  padding: 0;
  list-style-type: none;
  font-size: 1rem;
  margin: 0;
}

.ability-title {
  display: inline-block;
  color: #fff3e2;
  width: 30%;
}

.ability-score {
  display: inline-block;
  color: white;
  float: right;
}

.no {
  color: #706897;
}

/* Projects */
.effect {
  background: #706897;
  color: #FFF;
  margin-top: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #706897;
  overflow: hidden;
  width: 0;
  height: 98%;
  transition: .5s ease;
}

.effect:hover .overlay {
  width: 100%;
}

#projects h3 {
  margin-top: 10%;
  white-space: nowrap;
}

.text {
  color: #ebcfc4;
  font-size: 0.7vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

@media (max-width: 960px) {
  .text {
    font-size: 1.2vw;
  }
}

@media (max-width: 768px) {
  .text {
    font-size: 2vw;
  }
}

#projects figure img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 5px;
}

#projects a {
  color: #fff3e2;
  ;
}

#projects .row {
  padding-top: 20px;
}

.project {
  margin-top: 10px;
}

/* Contact Me */
#contact {}

/* Footer */
#footer p {
  margin: 0;
  padding-bottom: 2%;
}

@media (max-width: 1028px) {
  .phone {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
